@import "fonts.css";

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark-white: #bdbdbd;
  --color-darkBlue: #20293d;
  --color-deepDarkBlue: #131720;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-dark-blue: #1a1981e1;
  --color-grey: #616161;
  --color-white-grey: #dee4ef;
  --color-light-grey: #7c7979;
  --color-blue: #276fc2;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* font-size */
  --font-large: 48px;
  --font-medium_big: 32px;
  --font-medium: 28px;
  --font-small-medium: 24px;
  --font-regular_big: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Annimation*/
  --animation-duration: 300ms;
}

* {
  font-family: NotoSansKR-Regular;
  box-sizing: border-box;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
}

.max {
  max-width: 1400px;
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6.25em 0;
}

.section__title {
  padding: 0.3em;
  width: 6em;
  border-top: 3px solid goldenrod;
  border-bottom: 3px solid goldenrod;
  text-align: center;
  font-size: var(--font-medium);
  font-family: SCDream;
  font-weight: 700;
}

/* Home */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(
    to bottom left,
    var(--color-darkBlue),
    var(--color-deepDarkBlue)
  );
}

.home .navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.3em;
  width: 100%;
  z-index: 9999;
}

.home .navbar__toggle-btn {
  position: absolute;
  top: 14px;
  right: 12px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

.home .navbar__menu.open {
  display: block;
}

.navbar--dark {
  background: linear-gradient(
    to bottom left,
    var(--color-darkBlue),
    var(--color-deepDarkBlue)
  );
}

.home .navbar .logo {
  width: 6em;
  opacity: 0;
  animation: fadeIn 0.3s linear forwards;
  animation-duration: 2s;
}

.home .navbar .navbar__list {
  display: flex;
  color: var(--color-white);
}

.navbar__list .item {
  margin-left: 2em;
  cursor: pointer;
  animation: fadeInRight 0.3s linear forwards;
}

.navbar__list .item:first-child {
  animation-duration: 0.6s;
}

.navbar__list .item:nth-child(2) {
  animation-duration: 1.1s;
}
.navbar__list .item:nth-child(3) {
  animation-duration: 1.35s;
}
.navbar__list .item:nth-child(4) {
  animation-duration: 2s;
}
.navbar__list .item:nth-child(5) {
  animation-duration: 2.5s;
}
.navbar__list .item:nth-child(6) {
  animation-duration: 3s;
}

.home .home__container {
  display: flex;
  justify-content: space-evenly;
  margin: 9em 0 5em 0;
  padding: 0 3em;
  width: 100%;
  color: var(--color-white);
}

.home .home__container .home__des {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3em;
  width: 34em;
  line-height: 1.5;
  font-family: "SCDream";
  line-height: 1.4em;
}

.home .home__container .home__des .des__top {
  font-size: var(--font-small-medium);
  line-height: 1.3em;
}

.home .home__container .home__des .des__top .bol__text {
  font-family: SCDream5;
}

.home .home__container .home__des .des__bottom {
  margin-top: 3em;
  width: 100%;
  font-size: var(--weight-regular);
  line-height: 1.5;
  font-family: "Noto Sans";
  font-weight: 200;
}

.home__avatar {
  position: relative;
  z-index: 3;
}

.home__avatar .avatar__box img {
  width: 25em;
}

.home__avatar .patterns {
  position: absolute;
  top: -23px;
  right: 24px;
  padding-top: 502px;
  width: 25em;
  background: url("../images/img/profile_home_pattern.png") no-repeat;
  z-index: -1;
}

.home__avatar .round {
  position: absolute;
  top: -52px;
  right: -45px;
  padding-top: 178px;
  width: 190px;
  background: url("../images/img/profile_round.png") no-repeat;
  z-index: -1;
  animation: rotate 30s linear infinite;
}

/* About */
.about {
  background: url("../images/img/profil-pattern.png");
}

.about .max .about__list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 8em 0 2em 0;
  padding: 0 7em;
  width: 100%;
}

.about .max .about__list .list {
  position: relative;
  width: calc(100% / 3);
  text-align: center;
}

.about .max .about__list .list .list__name {
  margin-bottom: 0.6em;
  font-weight: 700;
}
.about .max .about__list.first .list .list__name::before,
.about .max .about__list.second .list .list__name::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 56px;
  height: 56px;
  background: url("../images/img/profil-ico.png");
}
.about .max .about__list.first .list:nth-child(1) .list__name:before {
  background-position: 0 0;
}
.about .max .about__list.first .list:nth-child(2) .list__name:before {
  background-position: 0 calc(-56px * 2);
}
.about .max .about__list.first .list:nth-child(3) .list__name:before {
  background-position: 0 calc(-56px * 3);
}

.about .max .about__list.second .list:nth-child(1) .list__name:before {
  background-position: 0 calc(-56px * 1);
}
.about .max .about__list.second .list:nth-child(2) .list__name:before {
  background-position: 0 calc(-56px * 4);
}

/* Skill */
.skills {
  color: var(--color-white);
  background: url("../images/img/skills_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.skill__container {
  margin: 3em 0;
  padding: 0 2em;
}

.skill__container .skill__description {
  margin-bottom: 2.5em;
  line-height: 2em;
}

.skill__container .skill__description .wbr {
  display: block;
}

/* Work */
.work__categories {
  margin: 2.3em;
  text-align: center;
}
.category__btn {
  position: relative;
  padding: 8px 48px;
  font-size: var(--font-regular-size);
  border: 1px solid var(--color-white);
  border-radius: 15px;
  color: var(--color-black);
  background-color: var(--color-white-grey);
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-darkBlue);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 6px;
}

.category__count {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -20px;
  right: 16px;
  font-size: 16px;
  border-radius: 50px;
  line-height: 24px;
  opacity: 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  transition: all 300ms ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-in;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  border-radius: 15px;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.project__description {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 15px;
  background-color: black;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

/* title과 설명들에 선 넣기 */
.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 53px;
  height: 2px;
  transform: translateX(-50%);
  margin: 8px 0;
  background-color: var(--color-dark-white);
}

.project__description span {
  color: var(--color-white);
}

.personal {
  font-family: "Noto Sans";
  background-color: var(--color-white-grey);
}

.personal .section__title {
  width: 12em;
}

.personal .bx-wrapper {
  margin-bottom: 3em !important;
  width: 26em !important;
}

.personal .bx-wrapper .bx-controls-direction a {
  z-index: 9998;
}

.personal .bx-wrapper .bx-controls-direction a.bx-prev {
  left: -45px;
}

.personal .bx-wrapper .bx-controls-direction a.bx-next {
  right: -45px;
}

.personal .personal__container {
  margin: 3em 0;
  padding: 0 3em;
}

.personal .personal__container .personal__box {
  display: flex;
  justify-content: center;
}

.personal .personal__container .personal__description {
  display: inline-block;
  margin-left: 8em;
  width: 33em;
  line-height: 2em;
  list-style: inherit;
}

.contact {
  background-color: gainsboro;
}

.source {
  color: var(--color-white);
  background-color: var(--color-deepDarkBlue);
}

.source .source__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9em 0;
  padding: 0 1em;
  text-align: center;
}

.source .source__container .source__img_box {
  display: inline-block;
  margin-right: 6em;
}

.source .source__container .source__img_box .source__img {
  width: 36em;
}

.source .source__container .source__description {
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: 2em;
}

.source .source__container .source__description::before {
  content: url("../images/img/github_title.png");
  position: absolute;
  top: -59px;
  left: 0;
}

.source .source__container .source__description .git__btn {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.5em 3.5em;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  background: transparent;
  cursor: pointer;
}

.contect {
  color: var(--color-white);
  background-color: var(--color-darkBlue);
  line-height: 1.5em;
}

.contect .contect__box {
  display: flex;
}

.contect .contect__box span:last-child::before {
  content: "";
  display: inline-block;
  margin: 0 0.5em;
  width: 1px;
  height: 12px;
  background-color: var(--color-white);
}

.arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12px;
  right: 16px;
  width: 54px;
  height: 54px;
  font-size: var(--font-medium);
  color: var(--color-white);
  background-color: var(--color-deepDarkBlue);
  border: 0;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transform: opacity 300ms ease-out;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 1024px) {
  .home .navbar .navbar__toggle-btn {
    display: block;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: var(--font-medium);
  }

  .home .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-deepDarkBlue);
    opacity: 0.9;
  }

  /* .navbar.navbar--dark {
    padding: 16px;
  } */
  .home .navbar .navbar__list {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .home .navbar .navbar__list .item {
    padding: 20px 4px;
  }

  .home .navbar .navbar__list.open {
    display: block;
  }

  .home .home__container .home__description {
    font-size: var(--font-small-size);
  }

  .home__avatar .avatar__box img {
    width: 20em;
  }

  .home__avatar .patterns {
    padding-top: 402px;
    width: 20em;
  }

  .about .max .about__list {
    padding: 0;
  }

  .skill__container .skill__list {
    width: 100%;
  }

  .skill__container .skill__description {
    font-size: var(--font-micro);
  }

  .work .work__container {
    flex-direction: column;
  }

  .project + .project {
    margin-top: 1em;
  }

  .personal .personal__container .personal__box {
    align-items: center;
    flex-direction: column;
  }

  .personal .personal__container .personal__description {
    margin-left: 1em;
    width: 28em;
    font-size: var(--font-micro);
  }

  .personal .personal__container .personal__box:last-child {
    margin-top: 2em;
  }

  .source .source__container .source__img_box {
    margin-right: 1em;
  }

  .source .source__container .source__img_box .source__img {
    width: 22em;
  }

  .source .source__container .source__description {
    font-size: var(--font-micro);
  }

  .personal .personal__container .personal__description {
    font-size: var(--font-micro);
  }
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: var(--font-regular_big);
  }

  .home .home__container {
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .home__avatar .avatar__box img {
    width: 26em;
  }

  .home__avatar .patterns {
    display: none;
  }

  .home__avatar .round {
    display: none;
  }

  .home .home__container .home__des {
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
  }

  .about .max .about__list {
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .about .max .about__list:last-child {
    margin-top: 0;
  }

  .about .max .about__list .list {
    margin-top: 2em;
    width: 15em;
  }

  .about .max .about__list.first .list + .list,
  .about .max .about__list.second .list {
    margin-top: 2em;
  }

  .about .max .about__list.first .list:nth-child(1) p:before {
    bottom: 65px;
  }

  .about .max .about__list.second .list:first-child p:before {
    bottom: 62px;
  }

  .about .max .about__list.second .list:last-child p:before {
    bottom: 63px;
  }

  .skill__container .skill__description .wbr {
    display: inline-block;
  }

  .category__btn {
    width: 16em;
  }

  .category__btn + .category__btn {
    margin-top: 0.6em;
  }

  .personal .personal__container .personal__description {
    width: 100%;
  }

  .source .source__container {
    flex-direction: column;
    margin: 3em;
  }

  .source .source__container .source__description {
    margin-top: 8em;
  }

  .source .source__container .source__description::before {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .arrow-up {
    width: 32px;
    height: 32px;
    font-size: var(--font-small);
  }
}

@media screen and (max-width: 899px) {
  .personal__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .home__avatar .avatar__box img {
    width: 100%;
  }

  .source .source__container .source__img_box {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .home__avatar .avatar__box img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .section {
    padding: 4.25em 0;
  }
  .home .navbar {
    padding: 1em;
  }

  .work__categories {
    margin: 2.3em 0;
  }

  .source .source__container .source__img_box .source__img {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
